@import url("head.php");

body {
  overflow-x: hidden;
  background-color: var(--body_color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATION BAR */
#navbarNav > ul > li > a.active {
  border-bottom: 2px solid black;
}

#navbarNav > ul > li > a:hover {
  border-bottom: 2px solid black;
}

#login-link {
  width: 100px;
}

body
  > nav
  > div
  > div.d-lg-flex.align-items-center.justify-content-center.justify-content-md-end.d-md-none.me-2
  > div:nth-child(2)
  > img {
  width: 50px;
  border-radius: 50%;
}
