/* body {
  background-color: beige;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: monospace;
  font-size: 25px;
  text-align: left;
  color: black;
}

th {
  background-color: rgb(230, 113, 158);
  color: white;
}

tr:nth-child(even) {
  background-color: rgb(255, 199, 199);
} */
